{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Privacy Policy - Golden Niche</title>

    <!-- Favicon -->
	<link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include 'store/header.html' %}

    <!-- SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Privacy Policy</h3>
                    </div>
                    <div class="privacy-content">
                        <p><strong>Last Updated:</strong> <script>document.write(new Date().toLocaleDateString())</script></p>
                        
                        <div class="privacy-section">
                            <h4>1. Introduction</h4>
                            <p>Welcome to Golden Niche BD. We respect your privacy and are committed to protecting your personal data. This privacy policy will inform you about how we look after your personal data when you visit our website and tell you about your privacy rights and how the law protects you.</p>
                            <p>This privacy policy aims to give you information on how Golden Niche BD collects and processes your personal data through your use of this website, including any data you may provide through this website when you sign up for an account, purchase a product, or take part in a promotion.</p>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>2. Information We Collect</h4>
                            <p>We collect several types of information from and about users of our website, including:</p>
                            <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 20px;">
                                <li><strong>Personal Information:</strong> This includes your name, email address, postal address, phone number, and payment information when you create an account, place an order, or contact us.</li>
                                <li><strong>Usage Information:</strong> Details of your visits to our website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the website.</li>
                                <li><strong>Device Information:</strong> Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
                                <li><strong>Transaction Information:</strong> Details about purchases you make through our website, including product details, pricing, and shipping information.</li>
                            </ul>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>3. How We Collect Your Information</h4>
                            <p>We use different methods to collect data from and about you including through:</p>
                            <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 20px;">
                                <li><strong>Direct Interactions:</strong> You may give us your personal information by filling in forms on our website, creating an account, placing an order, subscribing to our newsletter, or corresponding with us by phone, email, or otherwise.</li>
                                <li><strong>Automated Technologies:</strong> As you interact with our website, we may automatically collect technical data about your equipment, browsing actions, and patterns. We collect this data by using cookies, server logs, and other similar technologies.</li>
                                <li><strong>Third Parties:</strong> We may receive personal data about you from various third parties such as analytics providers, payment service providers, and advertising networks.</li>
                            </ul>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>4. How We Use Your Information</h4>
                            <p>We will only use your personal data when the law allows us to. Most commonly, we will use your personal data in the following circumstances:</p>
                            <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 20px;">
                                <li>To process and deliver your order, including managing payments, fees, and charges.</li>
                                <li>To manage our relationship with you, including notifying you about changes to our terms or privacy policy.</li>
                                <li>To administer and protect our business and this website, including troubleshooting, data analysis, testing, system maintenance, support, reporting, and hosting of data.</li>
                                <li>To deliver relevant website content and advertisements to you and measure or understand the effectiveness of the advertising we serve to you.</li>
                                <li>To use data analytics to improve our website, products/services, marketing, customer relationships, and experiences.</li>
                                <li>To make suggestions and recommendations to you about goods or services that may be of interest to you.</li>
                            </ul>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>5. Disclosure of Your Information</h4>
                            <p>We may share your personal data with the following parties:</p>
                            <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 20px;">
                                <li><strong>Service Providers:</strong> We may share your information with service providers who perform services on our behalf, such as payment processing, order fulfillment, data analysis, email delivery, hosting services, customer service, and marketing assistance.</li>
                                <li><strong>Business Partners:</strong> We may share your information with our business partners to offer you certain products, services, or promotions.</li>
                                <li><strong>Legal Requirements:</strong> We may disclose your information where required to do so by law or in response to valid requests by public authorities.</li>
                                <li><strong>Business Transfers:</strong> In the event of a merger, acquisition, or asset sale, your personal data may be transferred as a business asset.</li>
                            </ul>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>6. Data Security</h4>
                            <p>We have implemented appropriate security measures to prevent your personal data from being accidentally lost, used, or accessed in an unauthorized way, altered, or disclosed. In addition, we limit access to your personal data to those employees, agents, contractors, and other third parties who have a business need to know.</p>
                            <p>We have put in place procedures to deal with any suspected personal data breach and will notify you and any applicable regulator of a breach where we are legally required to do so.</p>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>7. Data Retention</h4>
                            <p>We will only retain your personal data for as long as necessary to fulfill the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>
                            <p>To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorized use or disclosure of your personal data, the purposes for which we process your personal data, and whether we can achieve those purposes through other means, and the applicable legal requirements.</p>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>8. Your Legal Rights</h4>
                            <p>Under certain circumstances, you have rights under data protection laws in relation to your personal data, including the right to:</p>
                            <ul style="list-style-type: disc; margin-left: 20px; margin-bottom: 20px;">
                                <li>Request access to your personal data.</li>
                                <li>Request correction of your personal data.</li>
                                <li>Request erasure of your personal data.</li>
                                <li>Object to processing of your personal data.</li>
                                <li>Request restriction of processing your personal data.</li>
                                <li>Request transfer of your personal data.</li>
                                <li>Right to withdraw consent.</li>
                            </ul>
                            <p>If you wish to exercise any of these rights, please contact us using the details provided below.</p>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>9. Cookies</h4>
                            <p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site.</p>
                            <p>A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. Cookies contain information that is transferred to your computer's hard drive.</p>
                            <p>You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. If you disable or refuse cookies, please note that some parts of this website may become inaccessible or not function properly.</p>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>10. Changes to Our Privacy Policy</h4>
                            <p>We may update our privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on this page and updating the "Last Updated" date at the top of this privacy policy.</p>
                            <p>You are advised to review this privacy policy periodically for any changes. Changes to this privacy policy are effective when they are posted on this page.</p>
                        </div>
                        
                        <div class="privacy-section">
                            <h4>11. Contact Us</h4>
                            <p>If you have any questions about this privacy policy or our privacy practices, please contact us at:</p>
                            <p>
                                Golden Niche BD<br>
                                Kazir Dewri, Chattogram, Bangladesh<br>
                                Email: <a href="mailto:privacy@goldennichebd.com">privacy@goldennichebd.com</a><br>
                                Phone: <a href="tel:+021-95-51-84">+021-95-51-84</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /SECTION -->

    {% include 'store/footer.html' %}

    <!-- jQuery Plugins -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html> 